# Assignment 3 - Text Analysis
An explanation this assignment could be found in the .pdf explanation document


## Materials to review for this assignment
<h4>From Moodle:</h4> 
<h5><u>Review the notebooks regarding the following python topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Working with strings</b> (tutorial notebook)<br/>
&#x2714; <b>Text Analysis</b> (tutorial notebook)<br/>
&#x2714; <b>Hebrew text analysis tools (tokenizer, wordnet)</b> (moodle example)<br/>
&#x2714; <b>(brief review) All previous notebooks</b><br/>
</div> 
<h5><u>Review the presentations regarding the following topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Text Analysis</b> (lecture presentation)<br/>
&#x2714; <b>(brief review) All other presentations</b><br/>
</div>

## Personal Details:

In [1]:
# Details Student 1:

# Details Student 2:

## Preceding Step - import modules (packages)
This step is necessary in order to use external modules (packages). <br/>

In [2]:
# --------------------------------------
import pandas as pd
import numpy as np
# --------------------------------------


# --------------------------------------
# ------------- visualizations:
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
# --------------------------------------


# ---------------------------------------
import sklearn
from sklearn import preprocessing, metrics, pipeline, model_selection, feature_extraction 
from sklearn import naive_bayes, linear_model, svm, neural_network, neighbors, tree
from sklearn import decomposition, cluster

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV 
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import mean_squared_error, r2_score, silhouette_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

from sklearn.svm import LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import Perceptron, SGDClassifier
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
# ---------------------------------------


# ----------------- output and visualizations: 
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)
# show several prints in one cell. This will allow us to condence every trick in one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# ---------------------------------------

### Text analysis and String manipulation imports:

In [3]:
# --------------------------------------
# --------- Text analysis and Hebrew text analysis imports:
# vectorizers:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# regular expressions:
import re
# --------------------------------------

### (optional) Hebrew text analysis - WordNet (for Hebrew)
Note: the WordNet is not a must

#### (optional) Only if you didn't install Wordnet (for Hebrew) use:

In [4]:
# word net installation:

# unmark if you want to use and need to install
#!pip install wn
#!python -m wn download omw-he:1.4

In [5]:
# word net import:

# unmark if you want to use:
#import wn

### (optional) Hebrew text analysis - hebrew_tokenizer (Tokenizer for Hebrew)
Note: the hebrew_tokenizer is not a must

#### (optional) Only if you didn't install hebrew_tokenizer use:

In [6]:
# Hebrew tokenizer installation:

# unmark if you want to use and need to install:
!pip install hebrew_tokenizer

Requirement already satisfied: hebrew_tokenizer in d:\anaconda\lib\site-packages (2.3.0)

In [7]:
# Hebrew tokenizer import:

# unmark if you want to use:
import hebrew_tokenizer as ht

C:\Users\Chen\Desktop\assignment3-text_analysis\assignment3-text_analysis

### Reading input files
Reading input files for train annotated corpus (raw text data) corpus and for the test corpus

In [21]:
train_filename = 'annotated_corpus_for_train.csv'
test_filename  = 'corpus_for_test.csv'
df_train = pd.read_csv(train_filename, index_col=None, encoding='utf-8')
df_test  = pd.read_csv(test_filename, index_col=None, encoding='utf-8')

In [22]:
df_train.head(8)
df_train.shape

                                               story gender
0  כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      m
1  לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2  מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3  כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...      m
4  ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      f
5  לפני כ3 חודשים טסתי לרומא למשך שבוע. טסתי במטו...      f
6  אני כבר שנתיים נשוי והשנה אני ואישתי סוף סוף י...      m
7  השנה התחלנו שיפוץ בדירה שלנו בתל אביב. הדירה ה...      f

(753, 2)

In [23]:
df_test.head(3)
df_test.shape

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...

(323, 2)

### Your implementation:
Write your code solution in the following code-cells

In [24]:
def my_hebrew_tokenizer(hebrew_text):
    token=ht.tokenize(hebrew_text)
    tokens_list=list(filter(lambda x: (x[0]=='HEBREW'),token))
    tokens_list=[tuple[1] for tuple in tokens_list]
    tokens_list
    return tokens_list

In [25]:
def custom_preprocess(text):
    text = text.lower()
    text = re.sub(r'\s+', ' ', text)  # Replace multiple spaces with one
    text = re.sub(r'[^\w\s]', '', text)  # Remove non-alphanumeric characters
    return text

In [26]:
gender_mapping = {'m': 0, 'f': 1}
df_train['gender'] = df_train['gender'].map(gender_mapping)

X_train = df_train['story']
y_train = df_train['gender']

In [27]:
print('Training Data :', X_train.shape)
print('Training Data :', y_train.shape)

Training Data : (753,)
Training Data : (753,)

In [34]:
from sklearn.metrics import make_scorer


# Assuming you've loaded your data into df_train and df_test

def perform_grid_search(df_train):
    # Clean the data
    df_train['story'] = df_train['story'].apply(custom_preprocess)


    sgd_pipeline = Pipeline([
    ('tfidf', TfidfVectorizer(tokenizer=my_hebrew_tokenizer)),
    ('classifier', SGDClassifier(max_iter=1000, random_state=42))
])

    nb_pipeline = Pipeline([
    ('tfidf', TfidfVectorizer(tokenizer=my_hebrew_tokenizer)),
    ('classifier', MultinomialNB())
])

    svc_pipeline = Pipeline([
    ('tfidf', TfidfVectorizer(tokenizer=my_hebrew_tokenizer)),
    ('classifier', LinearSVC())
])

    knn_pipeline = Pipeline([
    ('tfidf', TfidfVectorizer(tokenizer=my_hebrew_tokenizer)),
    ('classifier', KNeighborsClassifier())
])

    # Define parameter grids
    sgd_param_grid = {
        'tfidf__max_features': [None],
        'tfidf__max_df': [0.5, 0.75, 1.0],
        'tfidf__ngram_range': [(1, 1), (1, 2)],
        'classifier__alpha': [0.0001, 0.001, 0.01, 0.1],
        'classifier__penalty': ['l2', 'l1', 'elasticnet'],
        'classifier__max_iter': [700],
    }

    nb_param_grid = {
        'tfidf__max_features': [None],
        'tfidf__max_df': [0.5, 0.75, 1.0],
        'tfidf__ngram_range': [(1, 1), (1, 2)],
        'classifier__alpha': [0.01, 0.1, 1.0, 10.0],
    }

    svc_param_grid = {
        'tfidf__max_features': [None],
        'tfidf__max_df': [0.5, 0.75, 1.0],
        'tfidf__ngram_range': [(1, 1), (1, 2)],
        'classifier__C': [0.1, 1.0, 10.0],
    }

    knn_param_grid = {
    'tfidf__max_features': [None],
    'tfidf__max_df': [0.5, 0.75, 1.0],
    'tfidf__ngram_range': [(1, 1), (1, 2)],
    'classifier__n_neighbors': [3, 5, 7],
}



    best_score = 0.0
    best_classifier = ''

    pipelines = [
        ('SGD', sgd_pipeline, sgd_param_grid),
        ('Naive Bayes', nb_pipeline, nb_param_grid),
        ('LinearSVC', svc_pipeline, svc_param_grid),
        ('KNeighbors', knn_pipeline, knn_param_grid),
]
    

    for name, pipeline, param_grid in pipelines:
        print(f"Performing cross-validation for {name}...")

        # Perform cross-validation on the training set
        f1_scores = cross_val_score(pipeline, X_train, y_train, scoring='f1_macro', cv=10)
        

        # Print the number of fits (iterations) for cross-validation
        print(f"Number of Fits for {name}: {len(f1_scores)}")

        # Print the F1 scores for each cross-validation iteration
        print(f"{name} - Cross-Validation F1 Scores:", f1_scores)

        # Perform grid search with cross-validation
        grid_search = GridSearchCV(pipeline, param_grid=param_grid, scoring='f1_macro', cv=10, verbose=1)
        grid_search.fit(X_train, y_train)

        best_f1_score = grid_search.best_score_

        print(f"{name} - Best F1 Score: {best_f1_score:.4f}")

        if best_f1_score > best_score:
            best_score = best_f1_score
            best_classifier = name

    # Print the best classifier and its score after the loop
    print(f"\nBest Classifier: {best_classifier} - Best F1 Score: {best_score:.4f}")

In [35]:
df_train

                                                 story  gender
0    כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...       0
1    לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...       0
2    מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...       1
3    כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...       0
4    ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...       1
..                                                 ...     ...
748  אז לפני שנה בדיוק טסתי לאמסטרדם עם שני חברים ט...       0
749  שבוע שעבר העליתי באופן ספונטני רעיון לנסוע עם ...       0
750  לפני חודש עברנו לדירה בבית שמש בעקבות משפחתי ה...       0
751  החוויה אותה ארצה לשתף התרחשה לפני כמה חודשים, ...       1
752  פעם כשהייתי בחו" "ל ,בקבולומביה כחלק מהטיול של...       0

[753 rows x 2 columns]

In [36]:
perform_grid_search(df_train)

Performing cross-validation for SGD...
Number of Fits for SGD: 10
SGD - Cross-Validation F1 Scores: [0.67521368 0.60416667 0.58560523 0.736      0.6662102  0.67431762
 0.61485793 0.6031746  0.65277778 0.53846154]
Fitting 10 folds for each of 72 candidates, totalling 720 fits
SGD - Best F1 Score: 0.7242
Performing cross-validation for Naive Bayes...
Number of Fits for Naive Bayes: 10
Naive Bayes - Cross-Validation F1 Scores: [0.43283582 0.43283582 0.43283582 0.43609023 0.43609023 0.43181818
 0.43181818 0.43181818 0.43181818 0.43181818]
Fitting 10 folds for each of 24 candidates, totalling 240 fits
Naive Bayes - Best F1 Score: 0.5075
Performing cross-validation for LinearSVC...
Number of Fits for LinearSVC: 10
LinearSVC - Cross-Validation F1 Scores: [0.5303526  0.48181818 0.4887218  0.62713068 0.54801125 0.53846154
 0.53846154 0.48774608 0.6662102  0.48774608]
Fitting 10 folds for each of 18 candidates, totalling 180 fits
LinearSVC - Best F1 Score: 0.6416
Performing cross-validation for KNeighbors...
Number of Fits for KNeighbors: 10
KNeighbors - Cross-Validation F1 Scores: [0.54536391 0.57313797 0.60416667 0.62779156 0.68220339 0.63664862
 0.67939584 0.496      0.58126551 0.56350565]
Fitting 10 folds for each of 18 candidates, totalling 180 fits
KNeighbors - Best F1 Score: 0.6286

Best Classifier: SGD - Best F1 Score: 0.7242

In [37]:
def perform_best_pipeline_improve(df_train):
    # Clean the data
    df_train['story'] = df_train['story'].apply(custom_preprocess)

    sgd_pipeline = Pipeline([
        ('tfidf', TfidfVectorizer(tokenizer=my_hebrew_tokenizer)),
        ('classifier', SGDClassifier(max_iter=1000, random_state=42))
    ])

    sgd_param_grid = {
        'tfidf__max_features': [None],
        'tfidf__max_df': [0.5, 0.75, 1.0],
        'tfidf__ngram_range': [(1, 1), (1, 2)],
        'classifier__alpha': [0.0001, 0.001, 0.01, 0.1],
        'classifier__penalty': ['l2', 'l1', 'elasticnet'],
        'classifier__max_iter': [700],
        
        
    }

    best_score = 0.0
    best_classifier = ''

    grid_search = GridSearchCV(sgd_pipeline, param_grid=sgd_param_grid, scoring='f1_macro', cv=10, verbose=1)
    grid_search.fit(df_train['story'], df_train['gender'])

    best_f1_score = grid_search.best_score_
    best_params = grid_search.best_params_

    print(f"Best SGD F1 Score: {best_f1_score:.4f}")
    print("Best Parameters:")
    for param, value in best_params.items():
        print(f"{param}: {value}")

    best_pipeline = grid_search.best_estimator_

In [38]:
perform_best_pipeline_improve(df_train)

Fitting 10 folds for each of 72 candidates, totalling 720 fits
Best SGD F1 Score: 0.7335
Best Parameters:
classifier__alpha: 0.0001
classifier__max_iter: 700
classifier__penalty: l1
tfidf__max_df: 1.0
tfidf__max_features: None
tfidf__ngram_range: (1, 2)

In [51]:
    Best_pipeline = Pipeline([
            ('tfidf', TfidfVectorizer(max_df=1.0, max_features=None, ngram_range=(1, 2))),
            ('clf', SGDClassifier(alpha=0.0001, max_iter=700, penalty='l1'))
            ])

    f1_scores = cross_val_score(Best_pipeline, X_train, y_train, scoring='f1_macro', cv=10)
    mean_f1_score = f1_scores.mean()
    print(f"Mean F1 Score: {mean_f1_score:.4f}")

Mean F1 Score: 0.7450

In [67]:

X_test = df_test['story'].apply(custom_preprocess)
y_pred = Best_pipeline.fit(X_train, y_train).predict(X_test)
reverse_gender_mapping = {value: key for key, value in gender_mapping.items()}  


inversed_y_pred = [reverse_gender_mapping[numeric_label] for numeric_label in y_pred]

df_predicted = pd.DataFrame({'test_example_id': df_test['test_example_id'], 'predicted_category': inversed_y_pred})

In [68]:
df_predicted.head(5)

   test_example_id predicted_category
0                0                  m
1                1                  m
2                2                  m
3                3                  m
4                4                  f

In [69]:
Best_pipeline

Pipeline(steps=[('tfidf', TfidfVectorizer(ngram_range=(1, 2))),
                ('clf', SGDClassifier(max_iter=700, penalty='l1'))])

In [70]:
df_predicted.tail(5)

     test_example_id predicted_category
318              318                  m
319              319                  m
320              320                  m
321              321                  m
322              322                  m

### Save output to csv (optional)
After you're done save your output to the 'classification_results.csv' csv file.<br/>
We assume that the dataframe with your results contain the following columns:
* column 1 (left column): 'test_example_id'  - the same id associated to each of the test stories to be predicted.
* column 2 (right column): 'predicted_category' - the predicted gender value for each of the associated story. 

Assuming your predicted values are in the `df_predicted` dataframe, you should save you're results as following:

In [59]:
df_predicted.to_csv('classification_results.csv',index=False)